{% extends "base.html" %}

{% block content %}


<div class="container px-5 py-10 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-8 lg:py-6 mb-6 lg:mb-0">
            <div>
                <a class = "text-gray-500 hover:text-indigo-500 mb-4" href = "{% url 'leads:lead-detail' viajes.pk%}">Regresar al viaje</a>
            </div>
    
            <div class="flex mb-4">
                <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Confirmación</a>
            </div>
            <h1>Estas seguro que quieres cancelar este viaje?</h1> 
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="flex ml-4 text-white bg-red-400 border-0 py-2 mb-4 mt-4 px-6 focus:outline-none hover:bg-red-600 rounded " type="submit">Cancelar</button>
            </form>
            </div>
            </div>
        </div>
            
            


{% endblock content %}