{% extends "base.html" %}


{% block content %}
    <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-10 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-8 lg:py-6 mb-6 lg:mb-0">
                <div>
                    <a class = "text-gray-500 hover:text-indigo-500 mb-4" href = "{% url 'leads:lead-list'%}">Regresar a viajes</a>
                </div>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-4 mt-4">{{ viaje.origen }} -> {{ viaje.destino }}</h1>
            <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ viaje.age }} </h2>

            <!--PROGRESS BAR
            <div class="relative pt-1">
                <div class="flex mb-2 items-center justify-between">
                    <div>
                        <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200">
                        Task in progress
                        </span>
                    </div>
                    <div class="text-right">
                        <span class="text-xs font-semibold inline-block text-pink-600">
                        70%
                        </span>
                    </div>
                    </div>
                    <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200">
                    <div style="width:70%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500"></div>
                    </div>
                </div>
            -->
            <div class="flex mb-4">
            <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Resumen</a>
            </div>

            <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Fecha de salida</span>
                <span class="ml-auto text-gray-500">{{ viaje.f_salida }}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Fecha de llegada estimada</span>
                <span class="ml-auto text-gray-500">{{ viaje.f_llegada }}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Costo</span>
                <span class="ml-auto text-gray-500">"costo"</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Mercancia</span>
                <span class="ml-auto text-gray-500">{{ viaje.mercancia }}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Cantidad</span>
                <span class="ml-auto text-gray-500">{{ viaje.cantidad }} {{ viaje.cantidad_tipo }}</span>
            </div>

            <div class="flex border-t border-b mb-6 border-gray-200 py-2">
                <span class="text-gray-500">Tipo de embarque</span>
                <span class="ml-auto text-gray-500">{{ viaje.tipo_embarque }}</span>
            </div>

            
            
        </div>
        
        <div class="flex lg:w-1/2  justify-center items-center">
            <img alt="ecommerce" class="lg:w-3/5 w-full h-50 object-cover object-center rounded" src="https://flit-documents-1.s3.us-east-2.amazonaws.com/imagenes-fletes/map_mvp1.png">
        </div>
    </div>

    <div class="flex mb-4">
        <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1 mt-6">Estatus del viaje</a>
    </div>
    <span class="text-xs" style="opacity: 0">Status: </span>
    <span class="text-xs" style="opacity: 0;" id="demo">{{ viaje.status }}</span>
    <!-------------------------Progress BAR ------------------>
    <div class="flex mb-4">
        <div class="progressbar-wrapper">
            <ul class="progressbar">
                <li class="" id="1"><a href="#">Inicio del flete (Ver detalle)</a></li>
                <li class="" id='2'>En camino a recolección</li>
                <li class="" id='3'><a href="{% url 'leads:inicio-viaje' viaje.pk %}">Recolección completada (Ver más) </a></li>
                <li class="" id='4'>En ruta</li>
                <li class="" id='5'>Descargando</li>
                <li class="" id='6'><a href="{% url 'leads:fin-viaje' viaje.pk %}">Completado (Ver prueba de entrega)</a></li>
            </ul>
        </div>  
    </div>
    <!--------------------------------------------------------->


    <div class="container px-5 py-0 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
    <div class="flex py-4" style="align-items: center; display: flex;">
        <a href="{% url 'leads:lead-delete' viaje.pk %}"><button class="flex ml-auto text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded">Ayuda</button></a>
        <a href="{% url 'leads:lead-delete' viaje.pk %}"><button class="flex ml-4 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded ">Cancelar Viaje</button></a>
    </div>
    </div>
    </div>
    

    </div>
    </div>
    </section>

    <!-- <script>
        var i = 0;
        var counter = 0;

        while (i <= 4) {
            if (i <= 2) {
                var iid = counter.toString();
                var name = document.getElementById("demo").className;
                console.log(name);
                //console.log(iid=="1")
                //cls = document.getElementById(iid).innerHTML;
                //console.log(cls);
            } else {
                //document.getElementById(i.toString()).className = "noactive";
                //console.log("noactive:", i)
                
            }
            counter = counter+1;
            i++;
        }
    </script> -->



{% endblock content %}
