{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
    <div class="py-4">
        <a class = "text-gray-500 hover:text-indigo-500 mb-4 border-b-2" href = "{% url 'leads:lead-detail' viajes.pk%}">Regresar al flete</a>
    </div>
    <div class="flex mb-10">
        <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 text-2xl px-1">Editar</a>
    </div>
    
    <div class="flex">
        <span class="text-indigo-500 mb-4 ">Flete ID: {{ viajes.id }}</span>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="content-center md:content-center">
        <button class="ml-4 text-white bg-green-400 border-0 py-2 mb-4 mt-4 px-6 focus:outline-none hover:bg-green-600 rounded" type="submit">Actualizar</button>
        </form>
    </form>
{% endblock content %}
