{% extends "base.html" %}
{% load static %}



{% block content %}
    <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-10 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-8 lg:py-6 mb-6 lg:mb-0">
                <div>
                    <a class = "text-gray-500 hover:text-indigo-500 mb-4 border-b-2" href = "{% url 'leads:lead-list'%}">Regresar a todos los fletes</a>
                </div>
                <p class="tracking-widest text-indigo-500 text-sm font-medium title-font mt-4">Flete ID: {{ viaje.id }}</p>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
                    <span id="origin">{{ viaje.origen }}</span>
                    &#8594
                    <span id="destination">{{ viaje.destino }}</span>
                </h1>
            <h2 class="text-sm title-font text-gray-500 tracking-widest"  id="destination">{{ viaje.age }} </h2>

            <!--PROGRESS BAR
            <div class="relative pt-1">
                <div class="flex mb-2 items-center justify-between">
                    <div>
                        <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200">
                        Task in progress
                        </span>
                    </div>
                    <div class="text-right">
                        <span class="text-xs font-semibold inline-block text-pink-600">
                        70%
                        </span>
                    </div>
                    </div>
                    <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200">
                    <div style="width:70%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500"></div>
                    </div>
                </div>
            -->
            <div class="flex mb-4">
            <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Resumen</a>
            </div>

            <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500 ">Transportista</span>
                <span class="ml-auto text-gray-500">
                    {% if viaje.operador.linea_transporte %}
                        {{ viaje.operador.first_name }} {{ viaje.operador.last_name }} —
                        {{ viaje.operador.linea_transporte }}
                    {% else %}
                        Por asignar
                    {% endif %}
                </span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Fecha de creación</span>
                <span class="ml-auto text-gray-500">{{ viaje.f_creacion }}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Fecha de recolección</span>
                {% if viaje.f_recoleccion == None %}
                    <span class="ml-auto text-gray-500 font-semibold">Recolección pendiente</span>
                {% else %}
                <span class="ml-auto text-gray-500">{{ viaje.f_recoleccion }}</span>
                {% endif %}
            </div>
            <div class="flex border-t border-gray-200 py-2">
                {% if viaje.status == '6' %}
                <span class="text-gray-500">Fecha de llegada</span>
                {% else %}
                <span class="text-gray-500">Fecha de llegada estimada</span>
                {% endif %}
                <span class="ml-auto text-gray-500">{{ viaje.f_llegada }}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Costo </span>
                {% if viaje.costo == '0' %}
                    <span class="ml-auto text-gray-500 font-semibold">Por definir</span>
                {% else %}
                    <span class="ml-auto text-gray-500">{{ viaje.costo }} &#x0024</span>
                {% endif %}
                
            </div>
            <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Mercancia</span>
                <span class="ml-auto text-gray-500">{{ viaje.mercancia }}</span>
            </div>
            <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Cantidad</span>
                <span class="ml-auto text-gray-500">{{ viaje.cantidad }} 
                    {% if  viaje.cantidad_tipo  == 'Otro' %}
                        Objetos
                    {% else %}
                        {{ viaje.cantidad_tipo }}
                    {% endif %}
                </span>
            </div>

            <div class="flex border-t border-b mb-6 border-gray-200 py-2">
                <span class="text-gray-500">Tipo de embarque</span>
                <span class="ml-auto text-gray-500">{{ viaje.tipo_embarque }}</span>
            </div>

            
            
        </div>
        
        <div class="flex lg:w-1/2  justify-center items-center">
            <div id="map" style="height: 100%; width: 100%;"></div>
            <!-- <img alt="ecommerce" class="lg:w-3/5 w-full h-50 object-cover object-center rounded" src="https://flit-documents-1.s3.us-east-2.amazonaws.com/imagenes-fletes/map_mvp1.png"> -->
        </div>
    </div>

    <div class="flex mb-4">
        <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1 mt-6">Estatus del Flete</a>
    </div>
    <span class="text-xs" style="opacity: 0">Status: </span>
    <span class="text-xs" style="opacity: 0;" id="demo">{{ viaje.status }}</span>
    <!-------------------------Progress BAR ------------------>
    <div class="flex mb-4">
        <div class="progressbar-wrapper">
            <ul class="progressbar">
                <li class="" id="0"><a id ="0a" href="#!">En espera del transportista</a></li>
                <li class="" id="1"><a id ="1a" href="#!">Inicio del flete</a></li>
                <li class="" id='2'><a id ="2a" href="#!">En camino a recolección</a></li>
                <li class="" id='3'><a id ="3a" href="{% url 'leads:inicio-viaje' viaje.pk %}">Recolección completada</a></li>
                <li class="" id='4'><a id ="4a" href="#!">En ruta</a></li>
                <li class="" id='5'><a id ="5a" href="#!">Descargando</a></li>
                <li class="" id='6'><a id= "6a" href="{% url 'leads:fin-viaje' viaje.pk %}">Completado, ver prueba de entrega</a></li>
            </ul>
        </div>  
    </div>
    <!------------------------CURRENT LOCATION--------------------------------->
    <span class="text-xs" style="opacity: 0;" id="currlat">{{viaje.coords.lat}}</span>
    <span class="text-xs" style="opacity: 0;" id="currlng">{{viaje.coords.lng}}</span>
    <!--------------------------------------------------------->


    <div class="container px-5 py-0 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
    <div class="flex py-4" style="align-items: center; display: flex;">
        <a href="{% url 'leads:ayuda' viaje.pk %}"><button class="flex ml-auto text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded">Ayuda</button></a>
        {% if viaje.status == '0' %}
            <a href="{% url 'leads:lead-update' viaje.pk %}"><button id="editar" class="flex ml-4 text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded ">Editar Flete</button></a>
            <a href="{% url 'leads:lead-delete' viaje.pk %}"><button class="flex ml-4 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded ">Cancelar Flete</button></a>
        {% endif %}
    </div>
    </div>
    </div>
    

    </div>
    </div>
    </section>

    <script src="{% static 'js/map_route.js' %}"></script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsEgEALRMyIPqumJep9Tmn8Sj39MQIQTI&libraries=places&callback=initMap"> 
    
    
    </script>



{% endblock content %}
