{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
    <div class="max-w-lg mx-auto mb-10">
        <div class="py-5 border-t border-gray-200 mt-1">
            <h1 class="text-2xl text-indigo-500 mb-1 text-center">Crear un nuevo viaje</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded-md mt-5 mb-10">
                Crear Flete</button>
        </form>
    </div>
{% endblock content %}