{% extends "base.html" %}

{% block content %}

<section class="text-gray-600 body-font h-screen">
    <div class="container px-5 py-20 mx-auto h-screen ">
        <div class="flex justify-between items-left lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <div>
                <h1 class="text-2xl text-gray-800 mb-2">Mis Fletes</h1> 
                <!-- <h1 class="text-xl text-gray-800 ">Fletes Completados</h1>  -->
            </div>
            {% if request.user.is_organisor %}
                <div>
                    <a class="bg-indigo-500 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-700 rounded text-base mt-4 md:mt-0 text-white" href="{% url 'leads:lead-create' %}">
                        Nuevo flete</a>
                </div>
            {% endif %}
        </div>
        {% for viaje in viajes %}
        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col ">
            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">{{ viaje.origen }} - {{ viaje.destino }}</h2>
            <p class="leading-relaxed text-base">Llegada estimada: {{ viaje.f_llegada }}</p>
            <p class="leading-relaxed text-base"> Estatus: 
                <!-----------Hardcoding this, CHANGE LATER!------------------->
                {% if viaje.status == '0' %}
                Esperando a transportista
                {% elif viaje.status == '1' %}
                Inicio del flete
                {% elif viaje.status == "2" %}
                En camino a recolección
                {% elif viaje.status == "3" %}
                Recolección completada
                {% elif viaje.status == "4" %}
                En ruta
                {% elif viaje.status == "5" %}
                Descargando
                {% elif viaje.status == "6" %}
                Flete completado
                {% endif %}
            </p>
            <p class="leading-relaxed text-base">Carga: {{ viaje.mercancia }}</p>
            <a href="{% url 'leads:lead-detail' viaje.pk %}" class="mt-3 text-grey-400 hover:text-indigo-500 inline-flex items-center">Ver detalles
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
            </div>
        </div>
        {% empty %}
            <div class = "text-md text-gray-500 text-center">
                    No hay fletes que mostrar, ¿Qué quieres embarcar?
            </div>
        {% endfor %}
        {% if unassigned_leads.exists %}
            <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                <div class="p-4 w-full">
                    <h1 class="text-3xl text-gray-800">Otros viajes</h1>
                </div>
            </div>
            {% for viaje in otros_viajes %}
                <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                        <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                        </div>
                        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">{{ viaje.first_name }} {{ viaje.last_name }}</h2>
                        <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
                        <a href="{% url 'leads:assign-agent' viaje.pk %}" class="mt-3 text-indigo-500 inline-flex items-center">Asignar Broker
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </section>

{% endblock content %}

