{% extends "base.html" %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="mb-4">
                <a class = "text-gray-500 mb-6 hover:text-indigo-500 py-4" href = "{% url 'leads:lead-detail' viaje.pk %}">Regresar al viaje</a>
            </div>
            <div class="flex flex-wrap w-full mb-20">
                <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                <p class="tracking-widest text-indigo-500 text-sm font-medium title-font">'Clave del viaje'</p>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Recolección Completada</h1>
            <div class="h-1 w-20 bg-indigo-500 rounded "></div>
        </div>
    </div>
    <div class="flex flex-wrap -m-4 ">
        <div class="xl:w-1/2 xl:h-1/2 p-4 ">
            <div class="bg-gray-100 p-6 rounded-lg ">
                <img class="h-40 rounded w-full h-full object-cover object-center mb-6" src="{{ imagen.imagen.url }}" alt="content">
                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Carta de Porte</h3>
                <p class="text-sm text-gray-500 mb-2">{{ viaje.f_salida }}</p>
                <h2 class="text-md text-gray-900 font-medium title-font">Operador: <span class="sm:text-md text-gray-500">{{ 'nombre_del_operador' }}</span></h2>
                <!--<p class="text-sm text-gray-500 mb-4">Subida en {{ viaje.f_salida }}</p>-->
                <p class="leading-relaxed text-base text-md">Aqui el operador sube la carta de porte dando como comenzado su trayecto</p>
                <h3 class="tracking-widest text-indigo-500 text-sm font-medium title-font mt-5" >Observaciones:</h3>
                <p class="leading-relaxed text-base">Aqui el operador coloca observaciones respecto a la recolección</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>

{% endblock content %}