{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <h1 class="flex-grow sm:pr-0 text-2xl font-medium title-font text-gray-800 mb-4 ">
                En construcción...
            </h1>
        </div>
        <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
            
            <h1 class="flex-grow sm:pr-16 text-lg font-medium title-font text-gray-400">
                Esta página aún no esta disponible, hemos estado ocupados impulsando la logística del futuro en México,
                si te interesa ayudarnos, forma parte de nuestra prueba piloto!
            </h1>
            <a href="{% url 'leads:preregistro' %}">
                <button class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">Registrarme</button>
            </a>
        </div>
        </div>  
    </section>

    
    
{% endblock content %}